* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color: #23262F 
   color: #777E91;
background: #FCFCFD
font-family: 'Poppins', sans-serif;
*/
a {
    text-decoration: none;
}

button {
    border: none;
}

.container {
    max-width: 1140px;
    margin: auto 0;
}

.header {}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left_side_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_items {
    align-items: center;
    display: flex;
}

.logo {
    margin-right: 32px;
}

.menu_descr_title {
    margin-left: 32px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #23262F;
}

.menu_descr {
    margin-left: 32px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #777E91;
}

.right_side_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 35px;
    border: 2px solid #E6E8EC;
    gap: 18px;
    border-radius: 8px;
}

.search_icon {
    align-items: center;
    padding: 10px 12px 10px 16px;
    border: 0;
}

.upload_btn {
    margin-left: 35px;
    padding: 12px 16px;
    background: #3772FF;
    border-radius: 90px;
    color: #FCFCFD;
    border: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.connect_btn {
    margin-left: 12px;
    padding: 12px 16px;
    border: 2px solid #E6E8EC;
    border-radius: 90px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #23262F;
}